<a href="/">&lt; back </a>

<br /><br />

<div *ngIf="stock != null">
  <!-- ###################################################################### -->
  <!-- STOCK PRICE AND BASIC INFORMATION -->
  <!-- ###################################################################### -->
  <h2 style="margin-bottom: 0px; font-weight: bold; font-size: 25px">
    {{ stock.lastprice.toPrecision(5) }}
  </h2>

  <h2 style="margin-bottom: 15px; font-size: 16px">
    {{ stock.stockName }} ({{ market }} {{ ticker }} )
    <span class="spanlink" (click)="naveditpage()">Edit Stock</span>
    <br />
    <span class="spanbtn" (click)="navinvestingnote()">Investing Note</span>
    <span class="spanbtn" (click)="navyahoofinance()">Yahoo Finance</span>
    <span class="spanbtn" (click)="navtradingview()">Trading View</span>
    <span class="spanbtn" (click)="navsgx()" *ngIf="market == 'SGX'"
      >SGX.com</span
    >
    <span class="spanbtn" (click)="navsgdividends()" *ngIf="market == 'SGX'"
      >dividends.sg</span
    >
  </h2>

  <p style="text-align: justify">{{ stock.description }}</p>

  <br />

  <!-- ###################################################################### -->
  <!-- FUNDAMENTAL DATA AREA -->
  <!-- ###################################################################### -->

  <div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
    <p style="font-weight: bold">
      FUNDAMENTAL DATA
      <span class="spanlink" (click)="fundamentalApi()">Fundamental Api</span>
    </p>
    <table>
      <tr>
        <td style="width: 90px">Target Price</td>
        <td>{{ stock.targetprice }}</td>
      </tr>
      <tr>
        <td>EPS(TTM)</td>
        <td>{{ stock.epsttm }}</td>
      </tr>
      <tr>
        <td>PE(TTM)</td>
        <td>{{ stock.pettm == 0 ? "-" : stock.pettm.toPrecision(4) }}</td>
      </tr>
      <tr>
        <td>Book Value</td>
        <td>{{ stock.bookvalue }}</td>
      </tr>
      <tr>
        <td>P/B</td>
        <td>{{ stock.pb.toPrecision(4) }}</td>
      </tr>
      <tr>
        <td>DPS</td>
        <td>{{ stock.dps }}</td>
      </tr>
      <tr>
        <td>Div Yield</td>
        <td>{{ (stock.divyield * 100).toPrecision(4) }}%</td>
      </tr>
    </table>
  </div>

  <!-- ###################################################################### -->
  <!-- PRICE CHART AREA -->
  <!-- ###################################################################### -->

  <div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
    <p style="font-weight: bold">
      PRICE CHART
      <span class="spanlink" (click)="togglepricechartmode('default')"
        >Basic Chart</span
      >
      <span class="spanlink" (click)="togglepricechartmode('tradingview')"
        >Trading View</span
      >
      <span
        class="spanlink"
        (click)="togglepricechartmode('edit')"
        style="float: right"
        *ngIf="pricechartmode == 'default'"
        >Edit Chart</span
      >
    </p>
    <div *ngIf="pricechartmode == 'default'">
      <app-pricechart [market]="market" [ticker]="ticker"></app-pricechart>
    </div>

    <div *ngIf="pricechartmode == 'tradingview'">
      <app-tradingview [market]="market" [ticker]="ticker"></app-tradingview>
    </div>

    <div *ngIf="pricechartmode == 'edit'" style="padding: 15px 0px">
      <form [formGroup]="pricechartform" (ngSubmit)="updatePriceChartData()">
        <table style="margin-bottom: 10px">
          <tr>
            <td>Label:</td>
            <td>
              <textarea formControlName="pricelabel"></textarea>
            </td>
          </tr>
          <tr>
            <td>Data:</td>
            <td>
              <textarea formControlName="pricedata"></textarea>
            </td>
          </tr>
        </table>

        <button type="button" (click)="togglepricechartmode('default')">
          Cancel
        </button>
        &nbsp;
        <button type="submit">Submit</button>
        <br /><br />
      </form>
    </div>
  </div>

  <!-- ###################################################################### -->
  <!-- EARNING CHART AREA -->
  <!-- ###################################################################### -->

  <div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
    <p style="font-weight: bold">
      REVENUE / GROSSPROFIT / NETPROFIT
      <span
        class="spanlink"
        (click)="toggleearningchartmode('edit')"
        style="float: right"
        *ngIf="earningchartmode == 'default'"
        >Edit Chart</span
      >
    </p>
    <div *ngIf="earningchartmode == 'default'">
      <app-earningchart [market]="market" [ticker]="ticker"></app-earningchart>
    </div>

    <div *ngIf="earningchartmode == 'edit'" style="padding: 15px 0px">
      <hr />
      <form
        [formGroup]="earningchartform"
        (ngSubmit)="updateEarningChartData()"
      >
        <table style="margin-bottom: 10px">
          <tr>
            <td>Label:</td>
            <td>
              <textarea formControlName="earninglabel"></textarea>
            </td>
          </tr>
          <tr>
            <td>Revenue:</td>
            <td>
              <textarea formControlName="revenuedata"></textarea>
            </td>
          </tr>
          <tr>
            <td>Gross Profit:</td>
            <td>
              <textarea formControlName="grossprofitdata"></textarea>
            </td>
          </tr>
          <tr>
            <td>Net Profit:</td>
            <td>
              <textarea formControlName="netprofitdata"></textarea>
            </td>
          </tr>
        </table>

        <button type="button" (click)="toggleearningchartmode('default')">
          Cancel
        </button>
        &nbsp;
        <button type="submit">Submit</button>
        <br /><br />
      </form>
    </div>
  </div>

  <!-- ###################################################################### -->
  <!-- BALANCE CHART AREA -->
  <!-- ###################################################################### -->

  <div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
    <p style="font-weight: bold">
      ASSET / LIABILITY / DEBT
      <span
        class="spanlink"
        (click)="togglebalancechartmode('edit')"
        style="float: right"
        *ngIf="balancechartmode == 'default'"
        >Edit Chart</span
      >
    </p>
    <div *ngIf="balancechartmode == 'default'">
      <app-balancechart [market]="market" [ticker]="ticker"></app-balancechart>
    </div>

    <div *ngIf="balancechartmode == 'edit'" style="padding: 15px 0px">
      <hr />
      <form
        [formGroup]="balancechartform"
        (ngSubmit)="updateBalanceChartData()"
      >
        <table style="margin-bottom: 10px">
          <tr>
            <td>Label:</td>
            <td>
              <textarea formControlName="balancelabel"></textarea>
            </td>
          </tr>
          <tr>
            <td>Asset:</td>
            <td>
              <textarea formControlName="assetdata"></textarea>
            </td>
          </tr>
          <tr>
            <td>Liability:</td>
            <td>
              <textarea formControlName="liabilitydata"></textarea>
            </td>
          </tr>
          <tr>
            <td>Debt:</td>
            <td>
              <textarea formControlName="debtdata"></textarea>
            </td>
          </tr>
        </table>

        <button type="button" (click)="togglebalancechartmode('default')">
          Cancel
        </button>
        &nbsp;
        <button type="submit">Submit</button>
        <br /><br />
      </form>
    </div>
  </div>

  <!-- ###################################################################### -->
  <!-- EPS VS DPS CHART AREA -->
  <!-- ###################################################################### -->

  <div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
    <p style="font-weight: bold">
      EPS VS DPS
      <span
        class="spanlink"
        (click)="toggleepsdpschartmode('edit')"
        style="float: right"
        *ngIf="epsdpschartmode == 'default'"
        >Edit Chart</span
      >
    </p>
    <div *ngIf="epsdpschartmode == 'default'">
      <app-epsdpschart [market]="market" [ticker]="ticker"></app-epsdpschart>
    </div>

    <div *ngIf="epsdpschartmode == 'edit'" style="padding: 15px 0px">
      <hr />
      <form
        [formGroup]="epsdpschartform"
        (ngSubmit)="updateEpsDpsChartData()"
      >
        <table style="margin-bottom: 10px">
          <tr>
            <td>Label:</td>
            <td>
              <textarea formControlName="epsdpslabel"></textarea>
            </td>
          </tr>
          <tr>
            <td>EPS:</td>
            <td>
              <textarea formControlName="epsdata"></textarea>
            </td>
          </tr>
          <tr>
            <td>DPS:</td>
            <td>
              <textarea formControlName="dpsdata"></textarea>
            </td>
          </tr>
        </table>

        <button type="button" (click)="toggleepsdpschartmode('default')">
          Cancel
        </button>
        &nbsp;
        <button type="submit">Submit</button>
        <br /><br />
      </form>
    </div>
  </div>

  <!-- ###################################################################### -->
  <!-- CASHFLOW CHART AREA -->
  <!-- ###################################################################### -->

  <div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
    <p style="font-weight: bold">
      CASH FLOW
      <span
        class="spanlink"
        (click)="togglecashflowchartmode('edit')"
        style="float: right"
        *ngIf="cashflowchartmode == 'default'"
        >Edit Chart</span
      >
    </p>
    <div *ngIf="cashflowchartmode == 'default'">
      <app-cashflowchart [market]="market" [ticker]="ticker"></app-cashflowchart>
    </div>

    <div *ngIf="cashflowchartmode == 'edit'" style="padding: 15px 0px">
      <hr />
      <form
        [formGroup]="cashflowchartform"
        (ngSubmit)="updateCashflowChartData()"
      >
        <table style="margin-bottom: 10px">
          <tr>
            <td>Label:</td>
            <td>
              <textarea formControlName="cashflowlabel"></textarea>
            </td>
          </tr>
          <tr>
            <td>Operating:</td>
            <td>
              <textarea formControlName="operatingdata"></textarea>
            </td>
          </tr>
          <tr>
            <td>Investing:</td>
            <td>
              <textarea formControlName="investingdata"></textarea>
            </td>
          </tr>
          <tr>
            <td>Financing:</td>
            <td>
              <textarea formControlName="financingdata"></textarea>
            </td>
          </tr>
        </table>

        <button type="button" (click)="togglecashflowchartmode('default')">
          Cancel
        </button>
        &nbsp;
        <button type="submit">Submit</button>
        <br /><br />
      </form>
    </div>
  </div>
</div>

<div *ngIf="stock == null">
  <p>Loading...</p>
  <mat-progress-bar mode="query" style="width: 200px"></mat-progress-bar>
</div>
