<a href="/">&lt; back </a>

<br /><br />

<h2 style="margin-bottom: 0px; font-weight: bold; font-size: 25px">
  {{ stock.lastprice.toPrecision(5) }}
</h2>

<h2 style="margin-bottom: 15px; font-size: 16px">
  {{ stock.stockName }} ({{ market }} {{ ticker }} ) <br>
  <span class="spanlink" (click)="naveditpage()">Edit</span>
  <span class="spanlink" (click)="navinvestingnote()">Investing Note</span>
  <span class="spanlink" (click)="navyahoofinance()">Yahoo Finance</span>

  <!-- <button style="margin-left: 10px; padding: 1px 5px" (click)="priceApi()">
    Price Api
  </button>

  <button
    style="margin-left: 10px; padding: 1px 5px"
    (click)="fundamentalApi()"
  >
    Fundamental Api
  </button>

  <button style="margin-left: 10px; padding: 1px 5px" (click)="webscraper()">
    Price Yahoo 
  </button> -->
</h2>

<p style="text-align: justify;" >{{ stock.description }}</p>

<br>

<div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
  <p style="font-weight: bold">FUNDAMENTAL DATA</p>
  <table>
    <tr>
      <td style="width: 90px">Target Price</td>
      <td>{{ stock.targetprice }}</td>
    </tr>
    <tr>
      <td>EPS(TTM)</td>
      <td>{{ stock.epsttm }}</td>
    </tr>
    <tr>
      <td>PE(TTM)</td>
      <td>{{ stock.pettm == 0 ? "-" : (stock.pettm).toPrecision(4)}}</td>
    </tr>
    <tr>
      <td>Book Value</td>
      <td>{{ stock.bookvalue }}</td>
    </tr>
    <tr>
      <td>P/B</td>
      <td>{{ stock.pb.toPrecision(4) }}</td>
    </tr>
    <tr>
      <td>DPS</td>
      <td>{{ stock.dps }}</td>
    </tr>
    <tr>
      <td>Div Yield</td>
      <td>{{ (stock.divyield * 100).toPrecision(4)}}%</td>
    </tr>
  </table>
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 1 : Price
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 2 : Revenue vs Gross Profit vs Net Income
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 3 : Asset vs Liability vs Debt
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 4 : EPS vs DPS
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 5 : Cash Flow
  </p>
  <br /><br /><br /><br />
</div>
