<a href="/">&lt; back </a>

<br /><br />

<h2 style="margin-bottom: 0px; font-weight: bold; font-size: 25px">
  {{ stock.lastprice }}
</h2>
<h2 style="margin-bottom: 5px; font-size: 16px">
  {{ market }} {{ ticker }} {{ stock.stockName }}
  <button style="margin-left: 10px; padding: 1px 10px;" (click)="naveditpage()">Edit</button>
  <button style="margin-left: 10px; padding: 1px 5px;" (click)="getStockApi()">API Data</button>
</h2>

<div style="border: 1px solid black; margin-bottom: 20px; padding: 10px">
  <p style="font-weight: bold">FUNDAMENTAL DATA</p>
  <table>
    <tr>
      <td>PE(TTM)</td>
      <td>{{ stock.pettm }}</td>
    </tr>
    <tr>
      <td>PE(LYR)</td>
      <td>{{ stock.pelyr }}</td>
    </tr>
    <tr>
      <td>Div Yield</td>
      <td>{{ stock.divyield }}</td>
    </tr>
    <tr>
      <td>P/B</td>
      <td>{{ stock.pb }}</td>
    </tr>
    <tr>
      <td>EPS(TTM)</td>
      <td>{{ stock.epsttm }}</td>
    </tr>
    <tr>
      <td style="width: 80px">EPS(LYR)</td>
      <td>{{ stock.epslyr }}</td>
    </tr>
    <tr>
      <td>DPS</td>
      <td>{{ stock.dps }}</td>
    </tr>
  </table>
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 1 : Price
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 2 : Revenue vs Gross Profit vs Net Income
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 3 : Asset vs Liability vs Debt
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 4 : EPS vs DPS
  </p>
  <br /><br /><br /><br />
</div>

<div style="border: 1px solid black; margin-bottom: 20px">
  <p style="background-color: #3f51b5; padding: 5px; color: white">
    Chart 5 : Cash Flow
  </p>
  <br /><br /><br /><br />
</div>
