  <div *ngIf="roles == 'admin'">
    <h2>Send New Notification</h2>
    <form [formGroup]="notificationform" (ngSubmit)="processform()">
      <table>
        <tr>
          <td>Title</td>
          <td><input type="text" formControlName="title" /></td>
        </tr>
        <tr>
          <td>Content</td>
          <td><input type="text" formControlName="content" /></td>
        </tr>
      </table>
      <br />
      <button type="button" (click)="clearNotification()">Clear All</button> &nbsp;
      <button type="submit" >Send New</button>
    </form>
    <br />
    <hr />
  </div>

  <h2>Notification</h2>

  <mat-card *ngFor="let x of notifications" style="margin-bottom: 8px ; background-color: rgb(245, 245, 245);">
    <mat-card-content>
      <h2 style="margin-bottom: 0px;">{{ x.title }}</h2>
      <p>{{ x.content }}</p>
      <p style="font-size: 10px;">{{ x.uploaded }}</p>
    </mat-card-content>
  </mat-card>
