<div *ngIf="roles == 'admin'">
    <h2>Send New Notification</h2>
    <form [formGroup]="notificationform" (ngSubmit)="processform()">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" formControlName="title"></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><input type="text" formControlName="content"></td>
            </tr>
        </table>
        <br>
        <button type="submit">Send</button>
    </form>
    <br>
    <hr>
</div>



<h2>Notification History</h2>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>

<h2>Notification</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quam corrupti quod, cupiditate sunt repudiandae nobis alias ipsum aliquam, ea illum eveniet, ex libero odio soluta tempore veritatis quis ad.</p>
