<h2>All Stocks</h2>

<form [formGroup]="form" (ngSubmit)="processform()">
  <label for=""></label>
  <input type="text" formControlName="searchstring" />
  <button type="submit">Search</button>
</form>

<br>
<br>


<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Market</th>
      <th>Ticker</th>
      <th>Stock Name</th>
      <th>Last Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of stocks">
      <td>{{x.id}}</td>
      <td>{{x.market}}</td>
      <td>{{x.ticker}}</td>
      <td> <a href="/stock/{{x.market}}:{{x.ticker}}" style="color: blue;">{{x.stockName}}</a></td>
      <td>{{x.lastprice}}</td>
    </tr>
  </tbody>
</table>
