mat-card{
    max-width: 380px;
    min-width: 300px;
    margin: 0 auto;
    width: 40%;
    padding: 15px;
}
mat-card-title,mat-card-content {
  display: flex;
  justify-content: center;
}
.centerdiv{
  padding: 20px;
  text-align: center;
}



.right {
    display: flex;
    justify-content: right;
    align-items: right;
  }

  .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
