<h2>About Us</h2>
<div class="container">
  <img
    src="../../assets/img/investment.jpg"
    style="width: 500px; max-width: 100%"
  />
  <br /><br />
  <p>
    At Stock-XYZ, our mission is to empower investors with the fundamental data
    and insightful charts they need to make informed decisions in the stock
    market. We understand that analyzing stocks can be complex and
    time-consuming, so we've created a user-friendly platform that simplifies
    the process and provides you with the tools you need to succeed. What sets
    StockXYZ apart is our comprehensive range of features that cater to both
    novice and experienced investors. Whether you're an experienced trader or
    just starting your investment journey, our website offers a wealth of
    information and powerful analysis tools to support your decision-making
    process.
  </p>
  <h2>Key Features:</h2>
  <ol>
    <li>
      <strong>Fundamental Charts:</strong> Visualize stock data effortlessly
      using our intuitive charting tools. Our interactive visuals, including
      price charts ,earning charts, balance sheet, dps vs eps and cash flow charts. This allow you to analyze trends, identify
      patterns, and make data-driven decisions.
    </li>
    <li>
      <strong>Strategy XYZ:</strong> We analyze and suggest stocks for your
      investment options. Our platform offers three strategies: Growth-based,
      Undervalued-based, and Dividends-based. These strategies help you navigate
      the market and make informed investment choices.
    </li>
    <li>
      <strong>Watchlist and Portfolio:</strong> Stay organized and keep track of
      your favorite stocks by creating a personalized watchlist. Additionally,
      our portfolio feature enables you to monitor your investments, track their
      performance, and make timely adjustments.
    </li>
    <li>
      <strong>Push Notifications:</strong> Stay informed about important market
      updates and potential buy/sell signals through our push notification
      feature. Receive alerts when significant events occur or when our analysis
      detects potential opportunities.
    </li>
  </ol>
  <p>
    At StockXYZ, we are committed to providing you with a seamless user
    experience and valuable insights that empower you to make informed
    investment decisions. We continuously enhance our platform, incorporating
    user feedback and industry advancements, to ensure you have access to the
    most relevant and reliable data.
  </p>
  <p>
    Join StockXYZ today and elevate your stock analysis to the next level.
    Explore our features, dive into the world of fundamental analysis, and
    unlock the potential for profitable investments.
  </p>
  <p>Happy investing!</p>
  <p>The StockXYZ Team</p>
</div>
