
<h2>All Stocks   
  <span class="spanlink" [routerLink]="['/add']" *ngIf="roles=='admin'">Add Stock</span>
  <a class="logoutlink" (click)="logout()">logout</a>
  <span class="userinfo">{{email}}</span>
</h2>

<div *ngIf="validated">
  <form [formGroup]="form" (ngSubmit)="processform()">
    <input type="text" formControlName="searchstring" />
    <button type="submit">Search</button>
  </form>
  
  <br>
  
  
  <table style="font-size: 12px;">
    <thead>
      <tr style="background-color: rgb(78, 114, 214);">
        <th style="min-width: 90px; width: 150px;">Stock / Code</th>
        <th style="min-width: 55px; width: 70px;">Price</th>
        <th style="width: 240px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of stocks">
        <td> <a style=" cursor: pointer;" (click)="navstockdetailpage(x.market + ':' + x.ticker)">
          <span style="color: rgb(34, 74, 255); font-weight: bold;">{{x.stockName}}</span>
           <br>
           <span>{{x.market}}:{{x.ticker}}</span>

        </a></td>
        <td>{{x.lastprice.toFixed(3)}}</td>
        <td>
          <mat-chip-option style="height: 24px;" [color]="'primary'" [selected]="x.watchlistid > 0" (click)="togglewatchlist(x.id, x.watchlistid , x.watchlistid == 0)"><mat-icon matChipAvatar style="color: gray;">star</mat-icon>Watchlist</mat-chip-option>
          <mat-chip-option style="height: 24px;" [color]="'accent'" [selected]="x.portfolioid > 0" (click)="toggleportfolio(x.id, x.portfolioid , x.portfolioid == 0)"><mat-icon matChipAvatar style="color: gray;">work</mat-icon>Portfolio</mat-chip-option>
          
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <span style="font-size: 11px;">Stock Not Found? Email us : <a href="mailto:stocksxyz@outlook.com">stocksxyz@outlook.com</a></span>

</div>

<div *ngIf="!validated">
  <p>Loading Page...</p>
  <mat-progress-bar mode="query" style="width: 200px"></mat-progress-bar>
</div>

