
<h2>All Stocks   
  <span class="spanlink" [routerLink]="['/add']" *ngIf="roles=='admin'">Add Stock</span>
  <a class="logoutlink" (click)="logout()">logout</a>
  <span class="userinfo">{{email}}</span>
</h2>

<div *ngIf="validated">
  <form [formGroup]="form" (ngSubmit)="processform()">
    <label for=""></label>
    <input type="text" formControlName="searchstring" />
    <button type="submit">Search</button>
  </form>
  
  <br>
  <br>
  
  
  <table style="font-size: 12px;">
    <thead>
      <tr style="background-color: rgb(78, 114, 214);">
        <th>Market</th>
        <th>Stock Name</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of stocks">
        <td>{{x.market}}:{{x.ticker}}</td>
        <td> <a style="color: blue; text-decoration: underline; cursor: pointer;" (click)="navstockdetailpage(x.market + ':' + x.ticker)">
          {{x.stockName}} <br>
        </a></td>
        <td>{{x.lastprice}}</td>
        <td>
          <!-- {{x.watchlistid}}  {{x.portfolioid}}  -->
          <button [disabled]="x.watchlistid>0" (click)="addtowatchlist(x.id)">Watchlist</button>
          <button [disabled]="x.portfolioid>0" (click)="addtoportfolio(x.id)">Portfolio</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!validated">
  <p>Loading Page...</p>
  <mat-progress-bar mode="query" style="width: 200px"></mat-progress-bar>
</div>

