.activated-button {
    background-color: #3a52dd;
    color: white !important;
    /* Add any other styles you want for the activated effect */
  }

  .sidenav {
    width: 200px;
  }

  .example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .sidenav-content {
    /* display: flex; */
    height: 100%;
    /* align-items: center;
    justify-content: center; */
  }
  
