/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spanbtn{
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 2px 12px;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    margin-right: 5px;
}


.spanlink{
    color: blue;
    text-decoration: underline;
    padding: 2px 0px;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    margin-left: 8px;
}
