<div *ngIf="status == 'tokeninput'">
  <mat-card>
    <mat-card-title>Reset Token</mat-card-title>
    <p class="centerp">*Check your email for the reset token</p>
    <br />
    <mat-card-content>
      <form [formGroup]="tokenform" (ngSubmit)="checktoken()">
        <mat-form-field style="width: 280px">
          <mat-label>Token</mat-label>
          <input matInput type="text" formControlName="token" />
        </mat-form-field>

        <br />
        <br />

        <div class="right">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            style="width: 130px"
            [disabled]="tokenform.invalid"
          >
            Proceed
          </button>
        </div>

        <br />
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="status == 'validating'">
  <p>Validating...</p>
  <mat-progress-bar mode="query" style="width: 200px"></mat-progress-bar>
</div>

<mat-card *ngIf="status == 'validated'">
  <mat-card-title>Password Reset</mat-card-title>
  <p class="emailp">Email : {{ email }}</p>

  <br />
  <mat-card-content>
    <form [formGroup]="resetform" (ngSubmit)="processform()">
      <mat-form-field style="width: 280px">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newpassword" />
      </mat-form-field>

      <br />
      <br />

      <div class="right">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          style="width: 130px"
          [disabled]="resetform.invalid"
        >
          Update
        </button>
      </div>

      <br />
    </form>
  </mat-card-content>
</mat-card>
