mat-card{
    max-width: 380px;
    min-width: 300px;
    margin: 0 auto;
    width: 40%;
    padding: 15px;
}
mat-card-title,mat-card-content, .emailp {
  display: flex;
  justify-content: center;
}




.right {
    display: flex;
    justify-content: right;
    align-items: right;
  }